/* Estilos generales del cuerpo de la página */
body {
  font-family: "Poppins", sans-serif;
  background-color: #a7f5a5; /* Un verde pastel inspirado en tu imagen */
  color: #333;
}

/* Contenedor del Logo */
.logo-container {
  background-color: #fceb9c; /* Amarillo pastel */
  border: 2px solid #e7d16f;
}

.logo-container h1 {
  color: #4b4221;
}

/* Botón personalizado */
.btn-jugar {
  background-color: #a392e6; /* Morado pastel */
  color: #ffffff;
  font-weight: bold;
  padding: 1rem;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-jugar:hover {
  background-color: #8975d6; /* Un tono más oscuro al pasar el cursor */
  color: #ffffff;
  transform: translateY(-3px); /* Efecto de "levantarse" */
}

/* Contenedor de Créditos */
.creditos-container {
  background-color: #3a8c9e; /* Azul/verde azulado oscuro */
  color: #ffffff;
  min-width: 300px;
}
